In [8]:
import pandas as pd
import json

In [11]:
s = '{"col1":{"row1":1,"row2":2,"row3":3},"col2":{"row1":"a","row2":"x","row3":"\u3042"}}'
df = pd.read_json(s)

In [12]:
df

      col1 col2
row1     1    a
row2     2    x
row3     3    あ

In [13]:
data = df.to_json()

In [14]:
data

'{"col1":{"row1":1,"row2":2,"row3":3},"col2":{"row1":"a","row2":"x","row3":"\\u3042"}}'